body[class*="dark-ui"] .mde-preview {
  color: #abb2bf;
}
body[class*="dark-ui"] .mde-preview a {
  background-color: transparent;
}
body[class*="dark-ui"] .mde-preview img {
  border: 0;
}
body[class*="dark-ui"] .mde-preview input {
  color: inherit;
}
body[class*="dark-ui"] .mde-preview a {
  color: #528bff;
}
body[class*="dark-ui"] .mde-preview strong,
body[class*="dark-ui"] .mde-preview em {
  color: #abb2bf;
}
body[class*="dark-ui"] .mde-preview h1,
body[class*="dark-ui"] .mde-preview h2,
body[class*="dark-ui"] .mde-preview h3,
body[class*="dark-ui"] .mde-preview h4,
body[class*="dark-ui"] .mde-preview h5,
body[class*="dark-ui"] .mde-preview h6 {
  color: #abb2bf;
}
body[class*="dark-ui"] .mde-preview h6 {
  color: rgba(255, 255, 255, 0.625);
}
body[class*="dark-ui"] .mde-preview h1,
body[class*="dark-ui"] .mde-preview h2 {
  border-bottom-color: rgba(255, 255, 255, 0.4);
}
body[class*="dark-ui"] .mde-preview hr {
  background-color: rgba(255, 255, 255, 0.3);
}
body[class*="dark-ui"] .mde-preview blockquote {
  color: #828997;
  border-left: 4px solid rgba(255, 255, 255, 0.1);
}
body[class*="dark-ui"] .mde-preview table th {
  background-color: rgba(255, 255, 255, 0.08);
}
body[class*="dark-ui"] .mde-preview table th,
body[class*="dark-ui"] .mde-preview table td {
  border: 1px solid rgba(255, 255, 255, 0.25);
}
body[class*="dark-ui"] .mde-preview table tr {
  background-color: transparent;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}
body[class*="dark-ui"] .mde-preview table tr:nth-child(2n) {
  background-color: rgba(255, 255, 255, 0.05);
}
body[class*="dark-ui"] .mde-preview img {
  background-color: transparent;
}
body[class*="dark-ui"] .mde-preview .highlight pre,
body[class*="dark-ui"] .mde-preview pre {
  background-color: rgba(0, 0, 0, 0.1);
}
body[class*="dark-ui"] .mde-preview .cm-header {
  color: #528bff;
}
body[class*="dark-ui"] .mde-preview .cm-quote {
  color: #828997;
  font-style: italic;
}
body[class*="dark-ui"] .mde-preview .cm-negative {
  color: #e06c75;
}
body[class*="dark-ui"] .mde-preview .cm-positive {
  color: #98c379;
}
body[class*="dark-ui"] .mde-preview .cm-header,
body[class*="dark-ui"] .mde-preview .cm-strong {
  font-weight: bold;
}
body[class*="dark-ui"] .mde-preview .cm-em {
  font-style: italic;
}
body[class*="dark-ui"] .mde-preview .cm-strikethrough {
  text-decoration: line-through;
}
body[class*="dark-ui"] .mde-preview .cm-keyword {
  color: #c678dd;
  font-weight: bold;
}
body[class*="dark-ui"] .mde-preview .cm-atom {
  color: #e6c07b;
}
body[class*="dark-ui"] .mde-preview .cm-number {
  color: #d19a66;
}
body[class*="dark-ui"] .mde-preview .cm-def {
  color: #e06c75;
}
body[class*="dark-ui"] .mde-preview .cm-keyword + .cm-def {
  color: #61afef;
}
body[class*="dark-ui"] .mde-preview .cm-property {
  color: #61afef;
}
body[class*="dark-ui"] .mde-preview .cm-operator {
  color: #528bff;
}
body[class*="dark-ui"] .mde-preview .cm-variable {
  color: #e06c75;
}
body[class*="dark-ui"] .mde-preview .cm-variable-2,
body[class*="dark-ui"] .mde-preview .cm-variable-3 {
  color: #abb2bf;
}
body[class*="dark-ui"] .mde-preview .cm-s-default {
  color: #abb2bf;
}
body[class*="dark-ui"] .mde-preview .cm-type {
  color: #98c379;
}
body[class*="dark-ui"] .mde-preview .cm-comment {
  color: #5c6370;
  font-style: italic;
}
body[class*="dark-ui"] .mde-preview .cm-string,
body[class*="dark-ui"] .mde-preview .cm-string-2 {
  color: #98c379;
}
body[class*="dark-ui"] .mde-preview .cm-meta {
  color: #e6c07b;
}
body[class*="dark-ui"] .mde-preview .cm-qualifier {
  color: #e6c07b;
}
body[class*="dark-ui"] .mde-preview .cm-builtin {
  color: #56b6c2;
}
body[class*="dark-ui"] .mde-preview .cm-bracket {
  color: #528bff;
}
body[class*="dark-ui"] .mde-preview .cm-tag {
  color: #be5046;
}
body[class*="dark-ui"] .mde-preview .cm-attribute {
  color: #61afef;
}
body[class*="dark-ui"] .mde-preview .cm-hr {
  color: #98c379;
}
body[class*="dark-ui"] .mde-preview .cm-link {
  color: #98c379;
  text-decoration: underline;
}
body[class*="dark-ui"] .mde-preview .cm-error {
  color: #e06c75;
}
